body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
  PERSONALIZADO
*/

.pagination > li > a
{
    background-color: white;
    color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #6c757d !Important;
    border: solid 1px #6c757d !Important;
}

.pagination > .active > a:hover
{
    background-color: #6c757d !Important;
    border: solid 1px #6c757d;
}


/**************************************************/

.searcher{
  text-align: center !important;
}

.navbar-brand{
  background-color: #343a40;
}

.linkActive{
  color: white !important;
  background-color: #6c757d;
}


/**************************************************/
.divMessageInitial{
  margin-top: 2rem;
}

.titleInitial{
  color: #333;
}


.imgMessage{
  margin-top: 2rem;
  margin-left: 25%;
  width: 50%;
}

.nav-perso{
  margin-top: 1rem;
}

.imgCart{
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  width: 1.5rem;
}

.imgCart:hover{
  filter: opacity(0.8);
}

#main{
  margin: 2rem 0rem 1rem 0rem;
}

.cardProduct{
  margin-bottom: 3rem;
}

.cardProductVisible{
  height: 30rem;
  border: solid 1px rgb(235, 235, 235);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.4s;
}

.cardProductVisible:hover{
  box-shadow: -7px 7px 13px #e0e0e0,
  7px -7px 13px #ffffff;
}

.divCardImg{
  text-align: center;
  margin-top: 1rem;
  height: 50%;
}

.imgCard{
  max-width: 100%;
  max-height: 100%;
}

.cardBody{
  height: 50%;
}

.cardTitle{
  height: 20%;
  color: #9a9a9a;
}

.cardPrice{
  color: #ec4d46;
}

.cardPriceNormal{
  height: 7.5%;
  color: #9a9a9a;
}

.divBtnCard{
  margin-top: 0.5rem;
  margin-right: 1rem;
  text-align: end;
}

.btnCard{
  width: 2.5rem;
}

.btnCard:hover{
  filter: opacity(0.9);
}

#divPagination{
  margin-top: 1rem;
}

#spinnerLoad{
  position: fixed;
  top: 50%;
  left: 50%;
}

#search{
  border-radius: 25px;
}
